nav.navbar-featCurriculum {
  border-radius: 0;  
  margin-bottom: 0;
}

nav.navbar-featCurriculum {
    background-color: #000F41;
    color: #FFFFFF;
    font-family: 'MuseoSlab',Georgia,serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.featCurriculum-nav li { 
    float:none; 
    display:table-cell;
    padding: 15px; 
}
.featCurriculum-nav li a { 
    color: #FFFFFF;
}

.featCurriculum-nav ul li.first { 
    padding: 15px; 
}

.featCurriculum-nav li span { 
    display:block; 
    line-height:30px; 
    margin:0px 25px; 
    font-size: 16px;
}

.featCurriculum-nav li a { 
    display:block; 
    line-height:30px; 
    margin:0px 25px; 
    font-size: 16px;
}

.featCurriculum-nav li a:hover { 
    background-color: inherit;
}

.featCurriculum-nav li a:focus { 
    background-color: inherit;
}

#featCurriculum-row {
	background-color: #005C8E;
}

.featLink {
    padding: 15px;
}

.featLink:hover {
    cursor: pointer;
}

.featCurriculum-menu h3 {
    margin: 0px;
    padding: 30px;
    color: #FFFFFF      
}

.featCurriculum-menu ul {
    list-style-type: none;

}

.featCurriculum-menu ul li {
    padding: 10px 0px;
    border-bottom: thin solid #3590BF;
}
.featCurriculum-menu ul li.view-more {
    border-bottom: none;
    text-align: left;
    padding-top: 20px;
    font-size: 14px;
    color: #75D0FF;
}
.featCurriculum-menu ul li.view-more a {
    color: #75D0FF;
}

.featCurriculum-menu ul li a {
    color: #FFFFFF;
}

.featCurriculum-nav li.first {
    font-style: italic;
}

.featCurriculum-pic {
    padding: 25px 5px 20px 5px;
}
/* Mobile Styles */
/* Small & X-small */
@media screen and (max-width: 992px) {
    #carousel-sim-home.carousel .carousel-caption {
        left: 0;
    }
}
/* Small */
@media (min-width: 768px) and (max-width: 992px) {
    #carousel-sim-home.carousel #second.item .carousel-caption {
        left: 40%;
    }
}

/* X-small */
@media screen and (max-width: 768px) {
    .featCurriculum-nav li {
        float: none;
        display: block;
    }
}

/* END Mobile Styles */

#btnWrapper {
    background-color:#F2F2F2;
    padding: 30px;
    display: none;
}

#btnLabel {
        padding-top:20px;
}

.btnHeader {
    color: #4AA9DB;
    margin-bottom: 10px;
    font-size: 48px;
}

.btnText {
    padding: 5px;
    margin: 0px;
}

#findUsWrapper {
    padding: 40px;
}
#map-links {
    margin-top: 50px;
}
ul#map-links li {
    margin-bottom: 15px;
}
#map-links .btn {
    width: 175px;
}
h2#find-us {
    margin-top: 25px;
}
h3#ucla-sim-center {
    color: #000F41;
}
section#content-body.homepage {
    min-height: 300px;
}
/* Carousel Styling */
#carousel-sim-home.carousel img {
    min-width: 100%; 
    height: auto;
}
#carousel-sim-home.carousel .item {
    max-height: 593px;
    overflow: hidden;
}
#carousel-sim-home.carousel .carousel-caption {
    text-align: left;
}


@media screen and (min-width: 768px) {

    #carousel-sim-home.carousel .item#second .carousel-caption {
        left: 60%;
    }
}

#carousel-sim-home.carousel h3 {
    text-shadow:
    0 3px 3px rgba( 0, 0, 0, 0.2 ),
    0 -3px 3px rgba( 0, 0, 0, 0.2 ),
    3px 0 3px rgba( 0, 0, 0, 0.2 ),
    -3px 0 3px rgba( 0, 0, 0, 0.2 );

    font-size: 64px;
    font-weight: bold;
    line-height: 50px;
    color: #fff;
}
#carousel-sim-home.carousel .carousel-caption a, #carousel-sim-home.carousel .carousel-caption p {
    color: #fff;
}
#carousel-sim-home.carousel .carousel-caption p {
    font-size: 24px;
    line-height: 28px;
}
#carousel-sim-home.carousel .carousel-caption a.more-link {
    font-size: 18px;
}
#carousel-sim-home.carousel .carousel-caption a.more-link:hover {
    color: #44A8DD;
}
/* X-small */
@media screen and (max-width: 480px) {
    #carousel-sim-home.carousel h3 {
        font-size: 38px;
    }
    #carousel-sim-home.carousel .carousel-caption p {
        font-size: 18px;
        line-height: 24px;
    }
}
@media all and (max-width: 768px) {
  #carousel-sim-home.carousel img {
        width: 768px; 
        height: 285px;
    }
    #carousel-sim-home.carousel .item {
        height: 285px;
    }
    #carousel-sim-home.carousel .carousel-inner > .item > img, #carousel-sim-home.carousel .carousel-inner > .item > a > img {
        max-width: none;
    }
}
#carousel-sim-home .carousel-control-container {
    height: 40px;
    margin: 5px 0;
    text-align: center;
    width: 70%;
}
#carousel-sim-home .control-arrow {
    padding: 5px 2px;
    margin: 0 10px;
    background-color: #44A8DD;
    height: 50px;
    text-shadow: none;
}

/* Homepage Section Styles */

section#spotlight {

}
section#spotlight .spotlight-datetime {
    margin-bottom: 5px;
    color: #000F41;
    font-size: 12px;
    margin-bottom: 10px;
}
section#events {
    text-align: left;
}
section#spotlight h2, section#events h2 {
    font-size: 28px;
}
section#events .event-listing {
    margin-left: 30px;
    margin-bottom: 15px;
    width: 300px;
}
section#events .event-listing div {
    display: inline-block;
}
section#events .event-listing h5.title {
    margin-bottom: 3px;
}
section#events .event-listing a {
    font-style: italic;
    color: #6C6C6C;
}
section#events .spotlight-datetime {
    color: #000F41;
    font-size: 12px;
    width: 200px;
    position: absolute;
    margin: 5px;
    padding: 5px;
}
section#events > div > a {
    font-weight: bold;
    color: #000F41;
    float: right;
}
section#events .date-block {
    background-color: #4FAAD9;
    color: #FFFFFF;
    text-align: center;
    margin: 5px ;
    padding: 5px;
    width: 45px;
    height: 55px;
    position: relative;
}
section#events .month {
    font-size: 12px;
}
section#events .day {
    font-size: 22px;
}
