@model WebSiteUI.Models.FacilityModel
@{
    Layout = "";
}

@foreach (var item in Model.Facilities)
{
    <div class="horizontal well">
        <strong class="panel panel-primary">Facility Name:  @item.FaName</strong>
        <br />
        <span>Event Description: @Html.ActionLink(item.FaDescription, "FacilityDetailsView", new { item.ID })</span>                                           
        <br />
    </div>
}

