@model WebSiteUI.Models.UserModel
<div class="row">
  
    <ul class="nav nav-tabs">
     
        <li>
            @Html.ActionLink("Account details", "Index", "User", new { id = "Profile" }, new { @class = "btn btn-block btn-default btn-lg" })
        </li>
        <li>
            @Html.ActionLink("upcomming events", "Index", "User", new { id = "Calender" }, new { @class = "btn btn-block btn-default btn-lg" })
        </li>
        <li>
            @Html.ActionLink("view orders", "Index", "User", new { id = "ViewRequest" }, new { @class = "btn btn-block btn-default btn-lg" })
        </li>
        <li>
            @Html.ActionLink("submit a form", "Index", "User", new { id = "Submitform" }, new { @class = "btn btn-block btn-default btn-lg"})
        </li>
    </ul>
</div>
