@model ClassLibrary.Entities.Event

@{
    ViewBag.Title = "details";
}

<h2>details</h2>
<div class="well">
  <span class="badge bg-info"  > @Model.ID </span>
    @Model.eventName
    @Model.eventDescription
</div>
