@model WebSiteUI.Models.EventListViewModel
@{
    Layout = "";
}
  @{
      ViewBag.Title = "Products";
}
@foreach (var item in Model.Events)
{
    <div class="horizontal well">

        <strong class="panel panel-primary">Event Name:  @item.EvName</strong>
        <br />
        <span>Event Description: @item.eventDescription</span>

        <br />
    </div>
}
<div>
  @Html.PageLinks(Model.pageinfo, x => Url.Action("ListPartal",
   new { page = x }))
    
</div>

