<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSDC - @ViewBag.Title</title>

    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />*@

    <link href="~/Content/stylesheet.css" rel="stylesheet" />
    <link href="~/Content/stylesheet_home.css" rel="stylesheet" />
    <link href="~/Content/SSDCStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link type="text/css" href="https://www.google.com/uds/api/search/1.0/8bdfc79787aa2b2b1ac464140255872c/default+en.css" rel="stylesheet">
    <link type="text/css" href="https://www.google.com/cse/style/look/v2/default.css" rel="stylesheet">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
