/* 
    Created on : Nov 13, 2013, 9:33:44 AM
    Author     : Daniel Noji
    Description:
        Stylesheet containing all of the fonts for the UCLA Simulation Center website. This file should be included in the global.css
*/
@font-face {
    font-family: "MuseoSlab";
    font-weight: normal;
    font-style: normal;
    src: url("../bundles/simcore/fonts/MuseoSlab/Museo-Slab-500-webfont.eot?#iefix") format("eot"), url("../bundles/simcore/fonts/MuseoSlab/Museo-Slab-500-webfont.woff") format("woff"), url("../bundles/simcore/fonts/MuseoSlab/Museo-Slab-500-webfont.ttf") format("truetype");
}
@font-face {
    font-family: "MuseoSlab-Italic";
    font-weight: normal;
    font-style: normal;
    src: url("../bundles/simcore/fonts/MuseoSlab/Museo-Slab-500-Italic-webfont.eot?#iefix") format("eot"), url("../bundles/simcore/fonts/MuseoSlab/Museo-Slab-500-Italic-webfont.woff") format("woff"), url("../bundles/simcore/fonts/MuseoSlab/Museo-Slab-500-Italic-webfont.ttf") format("truetype");
}

/* Muli */
@font-face {
    font-family: 'Muli';
    src: url("../bundles/simcore/fonts/Muli/muli-regular-webfont.eot");
    src: url("../bundles/simcore/fonts/Muli/muli-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../bundles/simcore/fonts/Muli/muli-regular-webfont.woff") format("woff"), url("../bundles/simcore/fonts/Muli/muli-regular-webfont.ttf") format("truetype"), url("../bundles/simcore/fonts/Muli/muli-regular-webfont.svg#muliregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Muli-MediumItalic';
    src: url("../bundles/simcore/fonts/Muli/muli-medium-italic-x-webfont.eot");
    src: url("../bundles/simcore/fonts/Muli/muli-medium-italic-x-webfont.eot?#iefix") format("embedded-opentype"), url("../bundles/simcore/fonts/Muli/muli-medium-italic-x-webfont.woff") format("woff"), url("../bundles/simcore/fonts/Muli/muli-medium-italic-x-webfont.ttf") format("truetype"), url("../bundles/simcore/fonts/Muli/muli-medium-italic-x-webfont.svg#mulimedium-italic") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Muli-Medium';
    src: url("../bundles/simcore/fonts/Muli/muli-medium-x-webfont.eot");
    src: url("../bundles/simcore/fonts/Muli/muli-medium-x-webfont.eot?#iefix") format("embedded-opentype"), url("../bundles/simcore/fonts/Muli/muli-medium-x-webfont.woff") format("woff"), url("../bundles/simcore/fonts/Muli/muli-medium-x-webfont.ttf") format("truetype"), url("../bundles/simcore/fonts/Muli/muli-medium-x-webfont.svg#muli500b") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Muli-Light';
    src: url("../bundles/simcore/fonts/Muli/muli-light-webfont.eot");
    src: url("../bundles/simcore/fonts/Muli/muli-light-webfont.eot?#iefix") format("embedded-opentype"), url("../bundles/simcore/fonts/Muli/muli-light-webfont.woff") format("woff"), url("../bundles/simcore/fonts/Muli/muli-light-webfont.ttf") format("truetype"), url("../bundles/simcore/fonts/Muli/muli-light-webfont.svg#mulilight") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Muli-BoldItalic';
    src: url("../bundles/simcore/fonts/Muli/muli-bold-italic-webfont.eot");
    src: url("../bundles/simcore/fonts/Muli/muli-bold-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../bundles/simcore/fonts/Muli/muli-bold-italic-webfont.woff") format("woff"), url("../bundles/simcore/fonts/Muli/muli-bold-italic-webfont.ttf") format("truetype"), url("../bundles/simcore/fonts/Muli/muli-bold-italic-webfont.svg#mulibold_italic") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Muli-Bold';
    src: url("../bundles/simcore/fonts/Muli/muli-bold-webfont.eot");
    src: url("../bundles/simcore/fonts/Muli/muli-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../bundles/simcore/fonts/Muli/muli-bold-webfont.woff") format("woff"), url("../bundles/simcore/fonts/Muli/muli-bold-webfont.ttf") format("truetype"), url("../bundles/simcore/fonts/Muli/muli-bold-webfont.svg#muli_boldbold") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../bundles/simcore/fonts/Glyphicons/glyphicons-halflings-regular.eot');
  src: url('../bundles/simcore/fonts/Glyphicons/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../bundles/simcore/fonts/Glyphicons/glyphicons-halflings-regular.woff') format('woff'), url('../bundles/simcore/fonts/Glyphicons/glyphicons-halflings-regular.ttf') format('truetype'), url('../bundles/simcore/fonts/Glyphicons/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
/* 
    Document   : global.css
    Created on : Nov 12, 2013, 04:00:00 PM
    Author     : Daniel Noji
    Description:
        Global stylesheet for the UCLA Simulation Center Website. This file contains the global styles and should be included on all pages.
*/
/* General Tag Styles */
body {
    font-family: 'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
    color: #31373A;
    font-family: 'Muli-Bold','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0 0 20px;
}
h1 {
    
}
h2 {
   font-size: 32px; 
}
h3 {
    font-family: 'MuseoSlab',Georgia,serif;
}
h4 {
    
}
p {
    font-family: 'Muli-Light','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #586067;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    margin: 0 0 20px;
}
ul, ol {
    margin: 0 0 30px;
    padding: 0;
}
li {
    font-size: 16px;
    line-height: 21px;
    margin: 0 0 0 14px;
}
em, i {
    font-family: 'Muli-Light','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-style: italic;
    font-weight: normal;
}
small {
    font-size: 85%;
}
strong, b, th {
    font-family: 'Muli-Bold','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
}
a:active {
    outline: medium none;
}
a:focus {
    outline: medium none;
}
a, a:active, a:visited {
    color: #3590BF;
    text-decoration: none;
}
a:hover {
    color: #4FAAD9;
    text-decoration: none;
}
a.btn-primary:visited {
    color: #FFFFFF;
}
iframe {
    border: none;
}
cite {
    font-family: 'Muli-MediumItalic','Helvetica Neue',Helvetica,Arial,sans-serif;
}

input {
    color: #000000;
}

.centered {
    text-align: center;
}
/* END General Tag Styles */

/* Google search bar styling */
#gs_tti50 {
    padding: 0;
}

.cse input.gsc-input, input.gsc-input {
    background-image:none !important;
}
#sim .gsc-input-box {
    height: 38px;
}
.gsc-option-menu-container > .gsc-selected-option-container {
    width: 80px !important;
}

.gsc-selected-option {
    width: 60px !important;
}

input.gsc-search-button-v2:hover {
    background-color: #3276B1 !important;
    border-color: #285e8e !important;
}

.cse input.gsc-search-button, input.gsc-search-button, .gsc-search-button-v2, input.gsc-search-button-v2 {
    background-color: #428bca !important; 
    border: none !important;
    width: 40px !important;
    height: 35px !important;
    padding: 10px 13px !important;
    min-width: 15px !important;
    margin-top: 0 !important;
    border-radius: 5px !important;
}
#sim .gsst_a {
    padding-top: 10px;
}
#sim label {
    font-weight: normal;
}
.text-md {
    font-size: 18px;
}
body {
    background-color: #00275B;
}
/* Page Element Styles */
.page-wrapper {
    overflow: hidden;
    width: 100%;
    background-color: #ffffff;
}
#content-body {
    min-height: 500px;
    background-color: #ffffff;
}
.page-content section {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: solid 1px #CCCCCC;
}
.page-content li {
    font-family: 'Muli-Light','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #586067;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    margin: 0 0 0 14px;
}
#sim .pagination li {
    margin-left: 0;
}
#sim .pagination li.active {
    color: #FFF;
}
header {
    background-color: #00295A;
    padding: 40px 0;
}
header #logo {
    float: left;
}
/* X-small */
@media screen and (max-width: 514px) {
    header #logo img {
        width: 100%;
    }
}
header .dropdown-menu, nav .dropdown-menu {
    border: none;
}
footer#sim-footer {
    background-color: #00275B;
    padding: 55px 0 55px 0;
    color: #FFFFFF;
}
footer#sim-footer address {
    margin: 15px 0;
}
footer#sim-footer .copyright {
    margin-top: 40px;
    font-size: 12px;
}
footer#sim-footer h4 {
    font-family: "MuseoSlab";
    color: #FFFFFF;
    font-size: 16px;
}
footer#sim-footer #sim-footer-nav ul, footer#sim-footer #sim-quicklinks ul {
    list-style-type: none;
    border-left: solid 1px #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}
footer#sim-footer #sim-footer-nav ul li, footer#sim-footer #sim-quicklinks ul li {
    line-height: 32px;
}
footer#sim-footer #sim-footer-nav ul li a, footer#sim-footer #sim-quicklinks ul li a {
    color: #FFFFFF;
}
footer#sim-footer .footer-telephone {
    margin-top: 15px;
}
footer#sim-footer #sim-footer-nav {
}
footer#sim-footer #sim-footer-nav ul.second-column {
    margin-left: 20%;
}
/* Navigation Bar Styles */
/* Override base .navbar styles with .navbar-sim */
nav.navbar-sim {
  border-radius: 0;  
  margin-bottom: 0;
}
nav.navbar-sim.affix {
    left: 0;
    position: fixed;
    right: 0;
    border-width: 0 0 1px;
    top: 0;
    z-index: 1030;
}
nav.navbar-sim.affix + section#hero {
    padding-top: 60px;
}
nav.navbar-sim.affix + section#content-body {
    padding-top: 80px;
}
nav.navbar-sim ul {
    float:none; 
    text-align:center; 
    display:table; 
    list-style:none; 
    width:100%; 
}
@media (max-width: 1200px) {
    nav.navbar-sim#primary{
	display: table;
	width: 100%;
	border-collapse: collapse;
	border: none;
    }
    nav.navbar-sim ul#primary {
	display: table-row;
    }
    nav.navbar-sim#primary li {
	display: table-cell;
	margin: 0;
    }
    nav.navbar-sim#primary ul.navbar-nav > li {
	width: 16%;
    }
}

nav.navbar-sim ul > li { 
    float: none; 
    display: table-cell; 
}
@media (min-width: 1201px) {
    nav.navbar-sim#primary ul.navbar-nav > li {
    	width: 15%;
    }
}
nav.navbar-sim ul li a { 
    color: #FFFFFF;
}
nav.navbar-sim#primary {
    background-color: #000F41;
    color: #FFFFFF;
    font-family: 'MuseoSlab',Georgia,serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}
nav.navbar-sim#secondary {
    color: #025D8C;
    font-family: 'Muli-Bold','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    float: right;
    text-transform: uppercase;
}
nav.navbar-sim#secondary ul li .fa {
    font-size: 20px;
}
nav.navbar-sim#primary ul li a { 
    display:block; 
    line-height:30px; 
    margin:0px 5px; 
    font-size: 18px;
}
nav.navbar-sim#primary ul > li { 
    float: none; 
    display: table-cell;
    text-align: left;
}
nav.navbar-sim#primary ul li {
    display: inline-block;
}
nav.navbar-sim#primary ul li.current_ancestor a, nav.navbar-sim#primary ul li.current a { 
    color: #44A8DD;
}
nav.navbar-sim#primary .dropdown-menu li.current a {
    font-family: 'Muli-Medium', 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #5CB7E6;
}
nav.navbar-sim#primary .dropdown-menu {
	display: none;	
    background-color: #0F1E50;
    padding: 0;
}
nav.navbar-sim#primary .dropdown-menu li {
    display: block;
    margin-left: 0;
    background-color: #0F1E50;
    padding: 3px 0;
}
nav.navbar-sim#primary .dropdown-menu li.first {
    padding-top: 5px;
}
nav.navbar-sim#primary .dropdown-menu li.last {
    padding-bottom: 5px;
}
nav.navbar-sim#primary ul.dropdown-menu li a { 
    color: #4FAAD9;
}
nav.navbar-sim#primary ul.dropdown-menu li a:hover { 
    color: #68C3F2;
}
nav.navbar-sim#primary li:hover .dropdown-menu {
	background-color: #000F41;
	display: block;
	width: auto;
    text-align: left;
    font-family: 'Muli-Light','Helvetica Neue',Helvetica,Arial,sans-serif;
}
nav.navbar-sim#primary .divider {
	display: block;
	color: #FFFFFF;	
}
nav.navbar-sim#primary .nav .open > a, nav.navbar-sim#primary .nav .open > a:hover, nav.navbar-sim#primary .nav .open > a:focus {
    background-color: inherit;
    border: none;
}
nav.navbar-sim ul li a:hover, nav.navbar-sim ul li a:focus { 
    background-color: inherit;
    color: #E4E4E4;
}
nav.navbar-sim#secondary ul li {
    border-right: solid 1px #1C77A6;
    line-height: 17px;
    padding-top: 10px;
}
nav.navbar-sim#secondary ul li:last-child {
    border-right: none;
}
nav.navbar-sim#secondary ul li span.glyphicon {
    color: #025D8C;
    font-size: 20px;
}
.navbar-sim#secondary .nav a:focus {
    background-color: inherit;
}
.navbar-sim#secondary .nav .open, .navbar-sim#secondary .nav .open {
    background-color: #002251
}
.navbar-sim#secondary .nav .open > a, .navbar-sim#secondary .nav .open > a:hover, .navbar-sim#secondary .nav .open > a:focus {
    background-color: #002251;
    border-color: inherit;
}
.navbar-sim#secondary .dropdown-menu {
    background-color: #002251;
    box-shadow: none;
    left: auto;
    padding: 15px;
    width: 280px;
    text-align: left;
}
.navbar-sim#secondary .dropdown-menu .form-group {
    text-align: left;
}
.navbar-sim#secondary .dropdown-menu input#sim-search {
    width: 200px;
}
nav.sidebar {
    margin-bottom: 20px;
}
nav.sidebar .nav {
    background-color: #F2F2F2;
}
nav.sidebar ul.nav li {
    margin-left: 0;
}
nav.sidebar ul.nav li a {
    padding-left: 15px;
}
nav.sidebar ul.nav li.current, nav.sidebar ul.nav li.current_ancestor, nav.sidebar ul.nav li.current_ancestor:hover, nav.sidebar ul.nav li.current_ancestor a:hover {
    background-color: #E4E4E4;
}
nav.sidebar ul.nav li.current a {
    font-weight: bold;
}
nav.sidebar ul.nav li.current_ancestor > ul {
    list-style-type: none;
    padding-left: 20px;
}
nav.sidebar ul.nav li.current_ancestor > ul li {
}
nav.sidebar.affix {
    top: 100px;
    position: fixed;
}

nav.sidebar.affix {
    width: 263px;
}
nav.sidebar.affix-bottom {
    position: absolute;
    width: 263px;
}
nav.sidebar ul li.active {
    font-weight: bold;
}
@media (min-width: 992px) and (max-width: 1200px) {
    nav.sidebar.affix {
        width: 216px;
    }
    nav.sidebar.affix-bottom {
        width: 216px;
    }
}
/* Small & X-small */
@media screen and (max-width: 992px) {
    nav.sidebar.affix {
      position: static;
      width: auto;
      top: 0;
    }
    nav.sidebar.affix {
        width: 100%;
    }
    nav.sidebar.affix-bottom {
        width: 100%;
    }
}
/* Mobile Styling */
nav.navbar-sim #navbar-header-title {
    color: #FFFFFF;
    float: right;
    padding-right: 15px;
    padding-top: 12px;
    text-transform: uppercase;
    font-family: 'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;
}
nav.navbar-sim button.navbar-toggle {
    background-color: transparent;
    border: solid 1px #1C77A6;
}
nav.navbar-sim button.navbar-toggle .icon-bar {
    background-color: #2984B3;
}
nav.navbar-sim #main-navbar-collapse.navbar-collapse.collapse.in ul li, nav.navbar-sim #main-navbar-collapse.navbar-collapse.collapsing ul li {
    float: none;
    display: block;
    text-align: left;
}
/* Small & X-small */
@media screen and (max-width: 992px) {
    header h1#logo {
        text-align: center;
        float: none;
    }
    header nav#secondary ul {
        margin-left: auto;
        margin-right: auto;
    }
    footer#sim-footer #sim-info {
        text-align: center;
        padding-top: 50px;
    }
}
/* X-small */
@media screen and (max-width: 768px) {
    header h1#logo {
        text-align: center;
        float: none;
    }
    header nav#secondary ul {
        margin-left: auto;
        margin-right: auto;
    }
    nav.navbar-featCurriculum .navbar-nav{
        margin: 0;
    }
    footer#sim-footer #sim-footer-nav ul, footer#sim-footer #sim-quicklinks ul {
        margin-bottom: 0;
    }
    footer#sim-footer #sim-footer-nav {
        margin-bottom: 30px;
    }
}
/* END Mobile Styling */
/* END Navigation Bar Styles */
/* Hero Styles */
section#hero {
    margin-bottom: 10px;
    overflow: hidden;
}

ul.bibliography-list li {
    margin-bottom: 20px;
    list-style-type: none;
    text-indent:-20px;
    margin-left:20px
}
/* END Page Element Styles */

article h4.title {
    font-family: 'MuseoSlab-Italic',Georgia,serif;
    font-size: 20px;
    color: #666666;
    margin-bottom: 3px;
    margin-top: 10px;
}
/* END Page Element Styles */
/* Category Template Styles */
#content-body {
    padding: 20px 0;
}
/* END Cateogry Template Styles */
/* Breadcrumb Styles */
.breadcrumb.breadcrumb-sim {
    background-color: inherit;
    padding: 15px 0;
}
ol.breadcrumb.breadcrumb-sim li {
    font-size: 14px;
    margin-left: 0;
}
/* END Breadcrumb Styles */

.popover {
    max-width: 800px;
    width: auto;
}
.popover {
    color: #000000;
}
.help {
    color: #555555;
}
.course-catalog thead {
    font-size: 24px;
}
.anchor {
    padding-top: 70px;
    margin-top: -70px;
}
#upcoming-courses {
    background-color: #F2F2F2;
    padding: 10px;
}
.img-blank {
    background-color: #EEE;
    color: #999;
    padding-top: 55px;
}
.clickable {
    cursor: pointer;
}
/* User Account/Login Styles */
#login-block {
    background-color: #F6F6F6;
    padding: 20px;
    margin-top: 20px;
    color: #444444;
}
#login-block #forgot-password-link {
    padding-top: 10px;
}
#sign-up-block {
    padding-top: 20px;
    font-size: 120%;
}
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i.fa {
    position: absolute;
    padding: 14px 12px;
    pointer-events: none;
    color: #999;
}
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i.fa {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}
.flash.alert {
    margin-top: 15px;
}
#sim .alert.alert-info h1, #sim .alert.alert-info h2, #sim .alert.alert-info h3, #sim .alert.alert-info h4 {
    color: #31708f;
}
#sim .alert.alert-info p {
    color: #31708f;
}
#sim .alert.alert-warning h1, #sim .alert.alert-warning h2, #sim .alert.alert-warning h3, #sim .alert.alert-warning h4 {
    color: #8a6d3b;
}
#sim .alert.alert-warning p {
    color: #8a6d3b;
}
#sim .alert.alert-success h1, #sim .alert.alert-success h2, #sim .alert.alert-success h3, #sim .alert.alert-success h4 {
    color: #3c763d;
}
#sim .alert.alert-success p {
    color: #3c763d;
}
#sim .alert p.lead {
    margin-bottom: 10px;
}
#sim .alert ol, #sim .alert ul {
    margin-left: 30px;
}
.text-lg {
    font-size: 20px;
}
.radio label.text-lg input[type="radio"], .radio-inline label.text-lg input[type="radio"], .checkbox label.text-lg input[type="checkbox"], .checkbox-inline label.text-lg input[type="checkbox"] {
    margin-top: 7px;
}
blockquote p {
    color: #333333;
    font-family: 'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 18px;
}
blockquote p strong {
    font-family: 'Muli-Bold','Helvetica Neue',Helvetica,Arial,sans-serif;
}
blockquote footer {
    font-family: 'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.navigation {
    text-align: center;
}
.grey {
    background-color: #F4F4F4;
}
.padding-md {
    padding: 15px;
}
.screenshot {
    border: solid 1px #E2E2E2;
}
.shaded {
    -webkit-box-shadow: #666 0px 2px 3px;
    -moz-box-shadow: #666 0px 2px 3px;
    box-shadow: #666 0px 2px 3px;
}
.feature-block {
    padding: 50px 0;
    border-bottom: solid 1px #E2E2E2;
}
.feature-block:last-child {
    border: none;
}
.input-lg + .fa { margin-top:6px; }
.block {
    float: left;
    margin-top: 10px;
    position: relative;
    width: 100%;
}
/* CAROUSEL SLIDES */
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
/* END CAROUSEL STYLES */
/* START FORM STYLES */
.form-control::-moz-placeholder {
    color: #999;
}
#sim .form-horizontal .form-group-lg textarea.form-control, #sim .form-horizontal .form-group-lg select.form-control[multiple] {
    height: auto;
}
.form-body {
    padding: 20px;
    color: #444444;
}
.form-body label {
    font-family: 'Muli-Bold','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.form-wizard .form-wizard-steps {
    background: none repeat scroll 0 0 #000F41;
    border-radius: 5px 5px 0 0;
    list-style: none outside none;
    margin: 0 0 10px;
    padding: 0;
}
.form-wizard ul.form-wizard-steps {
    display: table;
}
.form-wizard ul.form-wizard-steps li {
    display: table-cell;
    width: auto;
}
.form-wizard .form-wizard-steps li {
    padding: 20px 0 20px 40px;
    text-align: center;
}
.form-wizard .form-wizard-steps>li:first-child {
    padding-left: 20px;
}
.form-wizard .form-wizard-steps li .step-label {
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}
.form-wizard .form-wizard-steps li.disabled {
    opacity: 0.6;
}
.form-wizard .form-wizard-steps li .step-label-text {
    text-align: left;
}

.form-wizard .form-wizard-steps li.active {
    padding-right: 0;
}
.form-wizard .form-wizard-steps li.disabled ~ li.active {
    padding-left: 0;
}
.form-wizard .form-wizard-steps li.complete + li.disabled, .form-wizard .form-wizard-steps li.craue_formflow_done_step + li.disabled {
    padding-right: 40px;
}
.form-wizard .form-wizard-steps li ~ li.disabled, .form-wizard .form-wizard-steps li.craue_formflow_current_step + li.disabled, .form-wizard .form-wizard-steps li.craue_formflow_done_step.jump-ahead + li.disabled {
    padding-right: 0;
}
.form-wizard .form-wizard-steps li.active:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(136, 183, 213, 0) rgba(136, 183, 213, 0) rgba(136, 183, 213, 0) #4faad9;
    border-image: none;
    border-style: solid;
    border-width: 30px;
    content: " ";
    height: 0;
    left: 100%;
    margin-top: -30px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    width: 0;
}
.form-wizard .form-wizard-steps li.active, .form-wizard .form-wizard-steps li.complete {
    background: none repeat scroll 0 0 #4faad9;
}

.form-wizard .form-wizard-steps li.active+li.complete {
    background: none;
}
.form-wizard .form-wizard-steps li .step-number {
    background: none repeat scroll 0 0 #2e415b;
    border: 1px solid #1b2736;
    border-radius: 50%;
    display: inline-block;
    font-size: 12px;
    height: 20px;
    line-height: 18px;
    margin-right: 10px;
    width: 20px;
}
.form-wizard .form-wizard-steps li.active .step-number {
    background: none repeat scroll 0 0 #1C77A6;
    border-color: #1C77A6;
}
.form-wizard .form-wizard-steps li.complete .step-number {
    background: none repeat scroll 0 0 #69C4F3;
    border-color: #69C4F3;
}
.form-wizard .form-wizard-steps li.clickable .step-number {
    background: none repeat scroll 0 0 #4faad9;
    border-color: #4faad9;
}
.form-wizard .form-wizard-steps li a, .form-wizard .form-wizard-steps li.active+li.complete a {
    color: #4faad9;
}
.form-wizard .form-wizard-steps li a:hover {
    color: #69C4F3;
}
.form-wizard .form-wizard-steps li.complete .step-label a, .form-wizard .form-wizard-steps li.complete .step-number {
    color: #F2F2F2;
}
.form-wizard .form-wizard-steps li.complete .step-label a:hover {
    color: #FFFFFF;
}
.form-wizard .form-wizard-steps li:first-child a {
    border-radius: 5px 0 0;
}
.form-wizard fieldset {
    display: table-row;
    width: 100%;
    padding: 10px 0;
}
.form-wizard .form-wizard-steps li.active + li.complete a {
    color: #4faad9;
}
.form-wizard .form-wizard-steps .craue_formflow_done_step.complete.jump-ahead {
    background: none;
}
.form-wizard .form-wizard-steps .craue_formflow_current_step.active a {
    color: #FFF;
}
.form-wizard .form-wizard-steps .craue_formflow_done_step.complete.jump-ahead a {
    color: #4faad9;
}
.form-wizard .form-wizard-steps li.unavailable .step-label-text {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}
/** Smaller Screen Targeting **/
.form-wizard .visible-sm-block .form-wizard-steps li.active, .form-wizard .visible-sm-block .form-wizard-steps li.complete {
    background: none repeat scroll 0 0 #4faad9;
    border-color: #4faad9;
}
.form-wizard .visible-sm-block .form-wizard-steps li, .form-wizard .visible-sm-block .form-wizard-steps > li:first-child {
    text-align: left;
    padding: 10px 0;
    margin: 0;
    font-size: 18px;
}
.form-wizard .visible-sm-block .form-wizard-steps li.complete .step-number, .form-wizard .visible-sm-block .form-wizard-steps li .step-number {
    text-align: center;
}
.form-wizard .visible-sm-block .form-wizard-steps li .step-number, .form-wizard .visible-sm-block #flow-mobile-nav-btn .step-number {
    background: none repeat scroll 0 0 #2e415b;
    border: 1px solid #1b2736;
    border-radius: 50%;
    display: inline-block;
    font-size: 16px;
    height: 24px;
    line-height: 22px;
    margin-right: 6px;
    width: 24px;
}
.form-wizard .visible-sm-block .form-wizard-steps li.active .step-number, .form-wizard .visible-sm-block #flow-mobile-nav-btn .step-number {
    background: none repeat scroll 0 0 #1C77A6;
    border-color: #1C77A6;
}
.form-wizard .visible-sm-block .form-wizard-steps li.complete .step-number, .form-wizard .visible-sm-block #flow-mobile-nav-btn.complete .step-number {
    background: none repeat scroll 0 0 #69C4F3;
    border-color: #69C4F3;
}
.form-wizard .visible-sm-block .form-wizard-steps li.clickable .step-number, .form-wizard .visible-sm-block #flow-mobile-nav-btn.clickable .step-number {
    background: none repeat scroll 0 0 #4faad9;
    border-color: #4faad9;
}
.form-wizard .visible-sm-block .form-wizard-steps li {
    color: #4faad9;
}
.form-wizard .visible-sm-block .form-wizard-steps li a:hover, .form-wizard .visible-sm-block .form-wizard-steps li.jump-ahead a .step-label-text {
    color: #69C4F3;
    background-color: inherit;
}
.form-wizard .visible-sm-block .dropdown-menu > .active > a {
    background-color: inherit;
}
.form-wizard .visible-sm-block .form-wizard-steps li.complete .step-label a, .form-wizard .form-wizard-steps li.complete .step-number {
    color: #F2F2F2;
}
.form-wizard .visible-sm-block .form-wizard-steps li.complete .step-label a:hover, .form-wizard .visible-sm-block .form-wizard-steps li a, .form-wizard .visible-sm-block .form-wizard-steps li.active+li.complete a, .form-wizard .visible-sm-block .form-wizard-steps li.complete a:hover .step-label-text {
    color: #FFFFFF;
}
.form-wizard .visible-sm-block .form-wizard-steps li:hover {
    background-color: #002A59;
}
.form-wizard .visible-sm-block .form-wizard-steps li.complete:hover {
    background-color: #5CB7E6;
}
.checkbox-group {
    padding-bottom: 20px;
}
.form-wizard #flow-mobile-nav-btn {
    background-color: #4FAAD9;
    border-color: #4FAAD9;
    color: #FFFFFF;
}
.form-wizard .visible-sm-block.dropdown.open #flow-mobile-nav-btn {
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-wizard .visible-sm-block .form-wizard-steps li.active:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #4FAAD9 rgba(136, 183, 213, 0) rgba(136, 183, 213, 0) rgba(136, 183, 213, 0);
    border-image: none;
    border-style: solid;
    border-width: 30px;
    content: " ";
    height: 0;
    left: 50%;
    pointer-events: none;
    position: relative;
    display: block;
    margin-left: -30px;
    margin-top: -60px;
    bottom: -70px;
    width: 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
    .form-wizard .form-wizard-steps li {
        padding: 20px 0 20px 5px;
    }
}
.form-wizard .visible-sm-block .form-wizard-steps li.active a .step-number {
    color: #FFFFFF;
}
.form-wizard .visible-sm-block .form-wizard-steps > li:first-child {
    border-top: solid 1px #3691C0;
}
.form-wizard .visible-sm-block ul.dropdown-menu {
    border: none;
}
.form-wizard .visible-sm-block .step-unavailable {
    padding: 3px 20px;
    color: #FFFFFF;
}
/* END FORM STYLES */
/* START Table Styles */
table.table.dataTable.dataTable {
    border: none;
}
table.table.dataTable.dataTable tr, table.table.dataTable.dataTable tr td, table.table.dataTable.dataTable.dataTable tr th {
    border-color: -moz-use-text-color -moz-use-text-color #e2e7eb;
    border-style: none none solid;
    border-width: medium medium 1px;
}
.table.dataTable.dataTable > tbody > tr > td, .table.dataTable.dataTable > tbody > tr > th, .table.dataTable.dataTable > tfoot > tr > td, .table.dataTable.dataTable > tfoot > tr > th, .table.dataTable.dataTable > thead > tr > td {
    border-color: #e2e7eb;
    padding: 20px 15px;
}

#sim .dataTables_wrapper .dataTables_paginate .paginate_button.current, #sim .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #337ab7 none repeat scroll 0 0 !important;
    border-color: #337ab7 !important;
    color: #fff !important;
}
#sim .dataTables_paginate a {
    border: 1px solid #e2e7eb;
    border-radius: 3px !important;
    cursor: pointer;
    display: inline;
    margin-left: 5px;
    padding: 6px 12px;
    text-decoration: none;
}
#sim .dataTables_paginate a:hover {
    background: #e2e7eb;
    color: #333 !important;
}
#sim table.dataTable thead th, #sim table.dataTable tfoot th {
    font-weight: normal;
}
#sim .dt-buttons.btn-group {
    float: right;
}
#sim .dataTables_wrapper > .row {
    margin-bottom: 20px;
}
.follow-path {
    cursor: pointer;
}

.dataTables_filter#community-labels_filter .input-addon input.form-control {
    margin-left: 0;
}
/* END Table  Styles */
.tab-content {
    padding: 20px 0;
}
small.status {
    color: #666;
}
/* START Helper Classes */
.mg-bottom-20, .page-content .mg-bottom-20, li.mg-bottom-20 {
    margin-bottom: 20px;
}
.mg-bottom-10, .page-content .mg-bottom-10, li.mg-bottom-10 {
    margin-bottom: 10px;
}
.mg-bottom-5, .page-content .mg-bottom-5, li.mg-bottom-5 {
    margin-bottom: 5px;
}
.border-bottom {
    border-bottom: solid 1px #CCC;
}
/* END Helper Classes */
/* START Feed Elements */
.feed-element {
    border-bottom: solid 1px #CCC;
    padding-bottom: 15px;
}
.feed-element > .pull-left {
    margin-right: 15px;
}
.feed-element .staff-img {
    width: 50px;
    height: 50px;
}
.feed-element .well > ul {
    margin-bottom: 0;
}
.feed-element .timestamp {
    margin-bottom: 10px;
}
/* END Feed Elements */
/* START Selectize data */
.selectize-control .group {
    color: #4faad9;
}
.selectize-control div.group {
    max-width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.selectize-control div.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
#sim .selectize-dropdown .optgroup-header {
    padding-left: 10px
}
.selectize-control .optgroup > .option {
    padding-left: 30px;
}
.form-control-static-lg {
    font-size: 18px;
}
.padding-top-15 {
    padding-top: 15px;
}
.padding-top-0, .form-group-lg .form-control-static.padding-top-0 {
    padding-top: 0;
}
.data-row {
    padding-bottom: 10px;
}
.data-title {
    text-align: right;
    font-family: "Muli-Bold";
}
.data-value {
    text-align: left;
}