@{
    ViewBag.Title = "Home";
}

<head>
    <meta charset="utf-8">
    <title>SSDC - Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="~/Static/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="~/Static/css/webflow.css">
    <link rel="stylesheet" type="text/css" href="~/Static/css/nassers-stupendous-site.webflow.css">
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheet_home.css" />

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link type="text/css" href="https://www.google.com/uds/api/search/1.0/8bdfc79787aa2b2b1ac464140255872c/default+en.css" rel="stylesheet">
    <link type="text/css" href="https://www.google.com/cse/style/look/v2/default.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ["Roboto:300,regular,500", "Roboto Condensed:300,regular,700", "Roboto Slab:300,regular,700", "Arbutus Slab:regular"]
            }
        });
    </script>
    <script type="text/javascript" src="~/Static/js/modernizr.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="fullbox">

        <section id="hero">
            <div id="carousel-sim-home" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6500">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                    <div class="item active" id="first">
                        <img src="~/Assests/Image/homeImg.png">
                        <div class="carousel-caption col-lg-3 col-md-5 col-sm-10 col-xs-12">
                            <!-- Controls -->
                            <div class="row">
                                <div class="carousel-control-container col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <a class="control-arrow" href="#carousel-sim-home" data-slide="prev">
                                        <i class="fa fa-chevron-left"></i>
                                    </a>
                                    <a class="control-arrow" href="#carousel-sim-home" data-slide="next">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h3>Education</h3>
                                    <p>Advancing patient safety by educating and training tomorrow's healthcare leaders.</p>
                                    <a href="/courses" class="more-link">› Find out more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item" id="second">
                        <img src="~/Assests/Image/homeImg.png">
                        <div class="carousel-caption col-lg-3 col-md-5 col-sm-10 col-xs-12">
                            <!-- Controls -->
                            <div class="row">
                                <div class="carousel-control-container col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <a class="control-arrow" href="#carousel-sim-home" data-slide="prev">
                                        <i class="fa fa-chevron-left"></i>
                                    </a>
                                    <a class="control-arrow" href="#carousel-sim-home" data-slide="next">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-7 col-xs-12">
                                    <h3>Innovation</h3>
                                    <p>Using the most advanced simulation technology to improve patient safety.</p>
                                    <a href="/facility" class="more-link">› Find out more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item" id="third">
                        <img src="~/Assests/Image/homeImg.png">
                        <div class="carousel-caption col-lg-3 col-md-5 col-sm-10 col-xs-12">
                            <!-- Controls -->
                            <div class="row">
                                <div class="carousel-control-container col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <a class="control-arrow" href="#carousel-sim-home" data-slide="prev">
                                        <i class="fa fa-chevron-left"></i>
                                    </a>
                                    <a class="control-arrow" href="#carousel-sim-home" data-slide="next">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h3>Research</h3>
                                    <p>Overcoming patient safety challenges through the use of medical simulation.</p>
                                    <a href="/bibliography" class="more-link">› Find out more</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <div id="facility" class="w-section section">
            <div class="w-container">
                <h2>Facility</h2>
                <div class="w-row">
                    @Html.Action("FacilityPartialView", "Facility")
                </div>
            </div>
        </div>
        <div id="events" class="w-section section blue">
            <div id="partalEvents" class="w-container">
                <h2>Events</h2>
                <div class="w-row">
                    @Html.Action("EventPartialView", "Event")
                </div>
            </div>
        </div>
        <div id="calendar" class="w-section section">
            <div class="w-container">
                <h2>Location</h2>
                <!-- Set height and width with CSS -->
                <div id="googleMap" style="height:400px;width:100%;"></div>

                <!-- Add Google Maps -->
                <script src="http://maps.googleapis.com/maps/api/js"></script>
                <script>
                    var myCenter = new google.maps.LatLng(24.839757, 46.722465);

                    function initialize() {
                        var mapProp = {
                            center: myCenter,
                            zoom: 12,
                            scrollwheel: false,
                            draggable: false,
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                        };

                        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

                        var marker = new google.maps.Marker({
                            position: myCenter,
                        });

                        marker.setMap(map);
                    }

                    google.maps.event.addDomListener(window, 'load', initialize);
                </script>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
