
@{
    ViewBag.Title = "ViewRequests";
}

<h2>ViewRequests</h2>


<h2>ViewRequest</h2>

<div class="container">
 
 
  <table class="table table-striped">
      <caption>current Bookings</caption>
    <thead>
      <tr>
        <th>RoomName</th>
        <th>TypeOfBooking</th>
        <th>BookingDate</th>
          <th>Confirmed</th>
          <th>MeetingDate</th>
          <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>101</td>
        <td>pla</td>
        <td>1/1/2016</td>
            <td>yeah</td>
          <td>1/2/2016</td>
          <td>fulloption</td>
      </tr>
   

    </tbody>
  </table>

</div>
