@model WebSiteUI.Models.EventModel
@{
    Layout = "";
}

@foreach (var item in Model.Events)
{
    <div class="horizontal well">
        <strong class="panel panel-primary">Event Name:  @item.eventName</strong>
        <br />
        <span>Event Description: @Html.ActionLink(item.eventDescription, "EventDetailsView", new { item.ID })</span>                                           
        <br />
    </div>
}

